{% extends 'layout.html' %}

{% block body %}
    <h1>About Us</h1>
</head>
<body>
  
  
  <h2>Key Features:</h2>
  <ul>
    <li>Direct Energy Exchange</li>
    <li>Decentralized Platform</li>
    <li>Flexibility and Control</li>
    <li>Dynamic Pricing</li>
    <li>Energy Tracking and Settlement</li>
    <li>Monitoring and Analytics</li>
    <li>Community Engagement</li>
  </ul>
  
  <h2>Benefits:</h2>
  <ul>
    <li>Efficiency</li>
    <li>Sustainability</li>
    <li>Cost Savings</li>
    <li>Grid Resilience</li>
    <li>Empowerment</li>
  </ul>
  
  <h2>Join Now!</h2>
  <p>Be part of the energy revolution and join our Peer-to-Peer Energy Transaction Application. Together, let's shape a more resilient and environmentally friendly energy landscape.</p>
</body>
</html>

{% endblock %}