<!-- notifications_seller.html -->

{% extends 'layout.html' %}

{% block content %}
  <h2>Notifications</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Buyer Name</th>
        <th>Energy Taken</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for seller in selected_sellers %}
        <tr>
          <td>{{ seller.buyer_username }}</td>
          <td>{{ seller.energy_taken }}</td>
          <td>{{ seller.status }}</td>
          <td>
            <form method="POST">
              <button type="submit" class="btn btn-success" name="approve" value="{{ seller._id }}">Approve</button>
              <button type="submit" class="btn btn-danger" name="decline" value="{{ seller._id }}">Decline</button>
              {{ csrf_token() }}
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
